{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Busqueda en Paginas Blancas</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
  </head>
  <body>
    <!-- You can alternatively load the minified version -->
    <!-- <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script> -->
    <div id="progress_bar_container" style="visibility: hidden;" class="container">
      <div class="progress">
        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
        </div>
      </div>
    </div>
    <div class="container" style="padding: 10px;">
      <div class="row">
        <div class="col-sm-9">
          <h1 style="float: left">Números de teléfono</h1>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-warning" onclick="abrir_modal('{% url 'search-form' %}')" href="#"><span class="fa fa-search"></span> Buscador</a>
          <a class="btn btn-warning" onclick="clean_data()" href="#"><span class="fa fa-eraser"></span></a>
          <span id="is_clean" style="visibility: hidden;">no</span>
        </div>
      </div>
    </div>
    <div id="contacts" class="container table-responsive">
      <div class="row"  id="contacts_title">
        <div class="col-sm-3">
          Nombre
        </div>
        <div class="col-sm-3">
          Telefono
        </div>
        <div class="col-sm-3">
          Direccion
        </div>
      </div>
      <!--Add more rows here-->
      <div id="results">

      </div>
    </div>

    <div id="ventana_modal" class="modal fade" role="dialog"></div>
    <script type="text/javascript">
        function abrir_modal(url) {
          $("#ventana_modal").load(url, function(){
              $(this).modal('show');
          });
        }

        function getAllRecords(current, total, numbers=[]) {
            function getNextRecord(current_record, total, numbers) {
              //console.log('getting records with numbers ', numbers)
              var names = '{{ names }}'
              var province = '{{ province }}'
              var city = '{{ city }}'
              const regex = /&#39;/gi;
              $.ajax({
                type:'POST',
                url: _url,
                data: {
                  'actual_index': current_record,
                  'total_index': total,
                  'names': names.replace(regex, ''),
                  'numbers': JSON.stringify(numbers),
                  'province': province,
                  'city': city
                }
              }).done(function(data) {
                $("#results").html(data['content']);
                var current_record = data['actual'];
                var total = data['total'];
                var _numbers = data['numbers'];
                var percentage = (current_record/total)*100
                $("#progress_bar").css('width', percentage+"%")
                if (percentage == 100) {
                  $("#progress_bar_container").css('visibility', 'hidden')
                }
                if ((current_record != null) && (current_record < total)) {
                  if ($("#is_clean").html() == 'no') {
                    getNextRecord(current_record, total, _numbers);
                  }
                }
              })
            }
            if ((current != null) && (current < total)) {
              if ($("#is_clean").html() == 'no') {
                $("#progress_bar_container").css('visibility', 'inherit')
                getNextRecord(current, total, numbers);
              }
            }
        }

        function clean_data() {
          console.log("Cleaning data...")
          $("#progress_bar_container").css('visibility', 'hidden')
          $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
          _url = '{% url 'search-form' %}';
          $.ajax({
            type:'POST',
            url: _url,
            data: {
              'actual_index': 1,
              'total_index': 1,
              'names': '',
              'numbers': [],
              'province': '',
              'city': ''
            }
          }).done(function(data) {
            // console.log("returned")
            $("#is_clean").html('yes')
            $("#results").html(data['content']);
            var current_record = data['actual'];
            var total = data['total'];
            var percentage = (current_record/total)*100
            console.log("percentage ", percentage)
            $("#progress_bar").css('width', percentage+"%")
            if (percentage == 100) {
              $("#progress_bar_container").css('visibility', 'hidden')
            }
          })
        }
        $(document).ready(function(e){
          current = '{{ actual_index }}';
          total = '{{ total_index }}';
          //console.log("actual data ", total)
          //console.log("current data ", current)
          //console.log("cleaned data ", $("#is_clean").html())
          _url = '{% url 'search-form' %}';

          $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
          getAllRecords(current, total);
        })

    </script>
  </body>
  
</html>
